<form [formGroup]="blanceForm" (submit)="onSubmit()" class="balance-form">
  <div class="header modal-header">
    <h2>
      {{
        dialogType === "main-wallet" ? "Edit Main Wallet" : "Edit Profit Wallet"
      }}
    </h2>

    <p-button id="close-button" (click)="handleClose()" [outlined]="true">
      <img src="assets/icons/close.svg" alt="close" />
    </p-button>
  </div>

  <div class="input-sections">
    <!-- Amount input -->
    <div class="input-group">
      <label for="amount">Amount</label>
      <input
        type="number"
        name="amount"
        id="amount"
        placeholder="Enter your amount"
        formControlName="amount"
      />
    </div>

    <!-- Currency  -->
    <div class="input-group">
      <label for="currency">Currency</label>

      <select name="currency" id="currency" formControlName="currency" required>
        <option [defaultSelected]="true" value="USD">USD</option>
        <option value="GHS">GHS</option>
        <option value="XOF">XOF</option>
        <option value="NGN">NGN</option>
      </select>
    </div>
  </div>

  <!-- button group  -->
  <div class="button-group">
    <button type="button" class="btn-secondary" (click)="handleClose()">
      Cancel
    </button>
    <button type="submit" class="btn-primary" [disabled]="updateBalanceLoading">
      @if(updateBalanceLoading){ Saving...} @else { Save }
    </button>
  </div>
</form>
