<main class="home content-wrapper">
  <div class="header">
    <h1>Dashboard</h1>
  </div>

  @if(user$ | async; as user){
  <div class="content">
    <div class="balances">
      @if (user['balance']; as balance) {
      <app-card [cardTitle]="'Main Wallet'" [balance]="balance['mainWallet']" />
      <app-card
        [cardTitle]="'Profit Wallet'"
        [balance]="balance['profitWallet']"
      />

      }
    </div>

    @if(withdrawalRequests$ | async; as withdrawalRequests){
    <div class="transaction-history">
      <p-table
        #dt
        [value]="withdrawalRequests"
        [tableStyle]="{ 'min-width': '50rem' }"
        emptyMessage="No transactions available"
      >
        <ng-template pTemplate="caption">
          <div class="table-caption">
            Withdrawal History
            <span>Total: <p-badge [value]="withdrawalRequests.length" /></span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Exchange Name</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Issued Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-withdrawal let-rowIndex="rowIndex">
          <tr>
            <td>#{{rowIndex + 1 }}</td>
            <td>{{ withdrawal["exchangeName"] }}</td>
            <td>{{ withdrawal["currency"] }} {{ withdrawal["amount"] }}</td>
            <td>{{ withdrawal["status"]}}</td>
            <td>{{ withdrawal["createdAt"] | date }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    }
  </div>

  }
</main>
