<main class="home content-wrapper">
  <div class="header">
    <h1>Dashboard</h1>
  </div>

  @if(currentUser$ | async; as currentUser){
  <div class="content">
    <div class="balances">
      @if (currentUser['balance']; as balance) {
      <app-card [cardTitle]="'Main Wallet'" [balance]="balance['mainWallet']" />
      <app-card
        [cardTitle]="'Profit Wallet'"
        [balance]="balance['profitWallet']"
      />

      }
    </div>
    <div class="transaction-history">
      <p-table
        #dt
        [value]="transactions"
        [tableStyle]="{ 'min-width': '50rem' }"
        emptyMessage="No transactions available"
      >
        <ng-template pTemplate="caption">
          <div class="table-caption">
            Transaction History
            <span>Total: <p-badge [value]="transactions.length" /></span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Transaction Id</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>Status</th>
            <th>Gateway</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount | currency }}</td>
            <td>{{ transaction.fee | currency }}</td>
            <td>{{ transaction.status }}</td>
            <td>{{ transaction.gateway }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  }
</main>
