<main class="user-detail content-wrapper">
  <div class="header">
    <h1>User Detail</h1>
    <p-button
      icon="pi pi-arrow-left"
      routerLink="/dashboard/admin/user-management"
      styleClass="back-btn"
      severity="primary"
    ></p-button>
  </div>

  @if(user$ | async; as user){
  <div class="content">
    <div class="balances">
      @if (user['balance']; as balance) {
      <app-card
        [isAdminCard]="true"
        [cardTitle]="'Main Wallet'"
        [balance]="balance['mainWallet']"
        (onEdit)="showDialog('main-wallet', balance['mainWallet'])"
      />
      <app-card
        [isAdminCard]="true"
        [cardTitle]="'Profit Wallet'"
        [balance]="balance['profitWallet']"
        (onEdit)="showDialog('profit-wallet', balance['profitWallet'])"
      />

      }
    </div>

    <app-personal-info [user]="user" />
  </div>

  } @else {
    <div class="custom-loader">
      <div class="loader">
        <p-progressSpinner
          aria-label="Loading"
          styleClass="loader-lg"
          strokeWidth="4"
          fill="var(--clr-surface)"
          animationDuration=".5s"
          [title]="'Loading contents...'"
        />
        <p>Loading contents...</p>
      </div>
    </div>
    }
</main>

<!-- dialoge  -->

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="headless">
    <app-balance-form
      (onClose)="closeDialog()"
      [balance]="dialogBalance"
      [dialogType]="dialogType"
      [userId]="userId"
    />
  </ng-template>
</p-dialog>
