/* You can add global styles to this file, and also import other style files */
@use './styles/_functions.sass' as *
@use './styles/_variables.sass' as *
@use './styles/_mixins.sass' as *
@use './styles/_theme.sass'

* 
    font-family: "Kumbh Sans", serif
    box-sizing: border-box

body 
    background: var(--background)
    color: var(--text)

input, select
    background: var(--black-accent)
    color: var(--text)
    placeholder-color: var(--text-secondary)
    border: $clr-dark-blue-line 1px solid
    padding: 1.15rem
    border-radius: 5px
    transition: all .3s ease

    &:focus-within
        outline: 1.2px solid $clr-purple



// UTILITY CLASSES
.text-warning 
    color: $clr-red

.text-secondary
    color: var(--text-secondary)

.btn
  &-primary 
   @include button('primary')

  &-secondary
    @include button('secondary')

  &-ghost
    appearance: none
    border: none 
    background: none
    color: var(--text)
    font-weight: normal