/* You can add global styles to this file, and also import other style files */
@use './styles/_functions.sass' as *
@use './styles/_variables.sass' as *
@use './styles/_mixins.sass' as *
@use './styles/_theme.sass'

@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

/* Box sizing rules

*
    font-family: "Kumbh Sans", serif
    box-sizing: border-box

    &::before, &::after
        box-sizing: border-box

/* Prevent font size inflation

html
    -moz-text-size-adjust: none
    -webkit-text-size-adjust: none
    text-size-adjust: none

/* Remove default margin in favour of better control in authored CSS

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd
    margin-block-end: 0

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed

ul[role='list'], ol[role='list']
    list-style: none

/* Set core body defaults

body
    line-height: 1.5
//   min-height: 100vh

/* Set shorter line heights on headings and interactive elements

h1, h2, h3, h4, button, input, label
    line-height: 1.1

/* Balance text wrapping on headings

h1, h2, h3, h4
    text-wrap: balance

/* A elements that don't have a class get default styles

a:not([class])
    text-decoration-skip-ink: auto
    color: currentColor

/* Make images easier to work with

img, picture
    max-width: 100%
    display: block

/* Inherit fonts for inputs and buttons

input, button, textarea, select
    font-family: inherit
    font-size: inherit

/* Make sure textareas without a rows attribute are not tiny

textarea:not([rows])
    min-height: 10em

/* Anything that has been anchored to should have extra scroll margin

\:target
    scroll-margin-block: 5ex
button
    cursor: pointer

body
    background: var(--background)
    color: var(--text)
    margin: 0
    padding: 0

h1
    font-size: 40px

h2
    font-size: 28px

input, select
    background: var(--black-accent)
    color: var(--text)
    placeholder-color: var(--text-secondary)
    border: $clr-dark-blue-line 1px solid
    padding: 1.15rem
    border-radius: 5px
    transition: all .3s ease

    &:focus-within
        outline: 1.2px solid $clr-purple

// UTILITY CLASSES
.content-wrapper
    max-width: 1024px
    margin-inline: auto
    padding-block: 1rem
    padding-inline: 1.5rem

    @include breakpoint($breakpoint: large)
        padding-top: 5rem

.input-group
    +flex($direction: column)
    gap: .7rem

    input
        font-size: get-font-size(body, sm)

.text-warning
    color: $clr-red

.text-secondary
    color: var(--text-secondary)

.btn
    &-primary
        @include button('primary')

    &-secondary
        @include button('secondary')

    &-ghost
        appearance: none
        border: none
        background: none
        color: var(--text)
        font-weight: normal

// PRIME NG CUSTOM STYLES 

.p-avatar-xl
    width: 100px
    height: 100px

// Sidebar styles
.p-sidebar
    background: var(--background) !important
    color: white
    // position: relative
    #close-btn
        // width: 100%
        position: absolute
        top: 30px
        right: 15px

        .close
            margin-right: auto
            color: white

    .p-button
        padding: 0
        outline: none
        border: none

// Data table styles
.p-datatable
    background: $clr-black
    padding: 1.5rem
    border-radius: 5px

    .p-datatable-header
        color: $clr-white
        background: $clr-black
        border: none
        padding: 0
        padding-bottom: 1rem

        .table-caption
            @include flex-between($direction: row, $gap: 2rem )
            font-size: 20px

            span
                font-size: 14px
                font-weight: normal
                display: none
                @include breakpoint($breakpoint: large)
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: .2rem

    .p-datatable-thead
        display: table-header-group
        background: $clr-table-header !important

        th
            background: $clr-table-header !important
            border: none
            color: white
            font-weight: semi-bold

    .p-datatable-tbody
        tr
            cursor: pointer
            
            &:hover td
                background: $clr-dark-blue
        td
            background: $clr-dark-blue-light
            border-color: $clr-dark-blue-line
            color: white
            margin-bottom: 1rem

        #user-name
            p-avatar
                margin-right: .5rem

        #actions
            // display: flex
            gap: .5rem
            // align-items: center
            // @include flex($direction: row, $gap:.5rem )

            .p-button + .p-button
                margin-left: .5rem
            .p-button
                outline: none
                border: none
                padding: 0 !important

    .p-paginator
        background: $clr-dark-blue
        border-color: $clr-dark-blue-line

        .p-paginator-current
            color: #cac8c8

        button
            color: white

        .p-highlight
            background: $clr-purple-light

        .p-paginator-rpp-options
            background: $clr-black
            border: $clr-dark-blue-line

            // .p-dropdown
            //     background: $clr-black
            //     border: $clr-dark-blue-line
            //     color: white

            //     .p-dropdown-label 
            //         color: white
.p-dropdown-items-wrapper
    background: $clr-black

    .p-dropdown-items
        color: white

        .p-element
            color: white

            &:not(.p-highlight):hover
                color: black

.p-dropdown-label
    color: #cac8c8

#card
    .p-button
        outline: white
        color: white
